<div class="row">
  <div class="large-12 columns">
{{# each classes}}

    <div class="large-3 columns block">
      <h3>{{title}}</h3>
      {{{description}}}
      <a href="/classes/{{_id}}/details" class="warning hollow button">Read More..</a>
    </div>


{{/ each}}
</div>
</div>
