<h1 id='about_title'>About</h1>
<section>
  <article class="about_text">
    <p>This is ELEARNING project website made for practice and fun. The idea is to build full e-learning sistem with students and instructors. Instructors are adding lessons
    and classes, students can register to them and learn.  </p><br>
    <p>ELEARNING is made using Node.js and bunch of modules for Back-End,view engine is Handlebars, Front-End is made with Foundation framework.</p>
    <p>You can see code the at <a href="#">Github.</a>, also you can contact me at shrvacanin@gmail.com</p>
  </article>
</section>
